body 	{
		 background-color: #FFFFFF;
		 margin-right: 10%;
		 padding-top: 50px;
		 font-family: "Georgia", Times New Roman, Times, Serif;
		 font-size: 18px;
		 line-height: 150%
		 min-width: 900px
		 max-width: 1100px;
}

header	{border-top: 1pt solid #CCCCCC;
		 margin-left: 60px;
		 padding-top: 10px;
		 padding-bottom: 20px;
		}

h1 		{
		 color: #FFFFFF;
		 background-color: #4aaaa5;
		 margin-left: 60px;
		 width: 230px;
		 text-align: left;
		 padding: 25px 30px 25px 30px;
		 font-size: 30px;
		 margin-top: -10px;
}

a		{text-decoration: none;
		 color: #666666;
		 font-size: 14px;
		 font-family: Helvetica;
		 padding-left: 20px;
		
}

nav		{padding-bottom: 30px;
		 text-align: right;
		 margin-top: -70px;
		 padding-top: 10px;
		}

main 	{
		 background-color: #CCCCCC;
		 border-top: 1px solid black;
		 margin-left: 60px;
		 margin-top: -10px;
		 padding-bottom: 30px}

.sidebar1 {
		 background-color: #FFFFFF;
		 border: 1px solid black;
		 margin-left: 60px;
		 margin-top: 40px;
		 margin-bottom: 0px;
		 width: 650px;
		}
		
hr		{
		 margin: -10px 15px 30px 15px;
		}
img     {position: relative; left: 25px;
		 float: left; margin-right: 40px;
		 margin-bottom: 10px;}

p       {font-size: 18px;
		line-height: 32px;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 20px;
		}

.sidebar2 {
		 background-color: #FFFFFF;
		 border: 1px solid black;
		 width: 270px;
		 height: 200px;
		 float: left; 
		 margin-left: 750px;
		 margin-top: -620px;
		 margin-right: 0px}

.sidebar3 {
		 background-color: #FFFFFF;
		 border: 1px solid black;
		 width: 270px;
		 height: 200px;
		 float: left; 
		 float: top;
		 margin-left: 750px;
		 margin-top: -325px;
		 margin-right: 0px}

.sidebar4 {
		 background-color: #FFFFFF;
		 border: 1px solid black;
		 width: 270px;
		 height: 200px;
		 float: left; 
		 margin-left: 750px;
		 margin-top: -50px;
		 margin-right: 0px}

h2 		{    
		 color: #4aaaa5;
		 background-color: #FFFFFF;
		 margin-left: 20px;
		 width: 230px;
		 text-align: left;
		 padding: 20px 20px 20px 10px;
		 font-size: 28px;
		 font-weight: bold;
}
h3 		{margin-top: 30px;
		 margin-left: 25px;
		 margin-bottom: 45px;
		 color: #4aaaa5;
		 background-color: #FFFFFF;
}
.boxsize {
		 margin: -10px; padding: -30px;}

footer { text-align: center;
         background-color: #666666; 
         margin-left: 60px;
         padding: 20px;
         color: #FFFFFF;
		 clear: both; 
		 border-top: 6px solid #4aaaa5;} 

#gallery { position: relative; float: left}
#gallery ul { width: 250px; 
             list-style-type: none; }
#gallery li { display: inline; 
              float: left; 
			  padding: 10px; }
#gallery img { border-style: none; }
#gallery a { text-decoration: none; 
             color: #333; 
			 font-style: italic; }

form {margin-left: 30px;
	  margin-bottom: 30px}

